--- 
    import BaseLayout from '../layout/BaseLayout.astro';
    import BlogGridHome from "../components/Blog/BlogGridHome"
    const result  =  await fetch(`${import.meta.env.PUBLIC_BASE_URL}/api/articles?populate=*&[sort][0]=createdAt%3Adesc&?pagination[start]=0&pagination[limit]=16`).then(res => res.json())
    const posts = result.data;

    const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
 <div class="st-content">
    <div class="st-page-heading st-style2 st-bg st-dynamic-bg st-ripple-version" data-src="assets/img/hero-bg-3.jpg">
      <div class="container">
        <div class="st-page-heading-in text-center st-hero-text">
          <h1 class="st-page-heading-title">Posts del Blog</h1>     
        </div>
      </div>
    </div><!-- .st-page-heading -->
    <div class="st-height-b100 st-height-lg-b80"></div>
    <BlogGridHome posts={posts}/>
    <div class="st-height-b100 st-height-lg-b80"></div>
  </div>
    <!-- End Blog Details -->
    </BaseLayout>