---
// Component Imports
    import BaseLayout from "../layout/BaseLayout.astro"
    // import BlogGridHome from "../components/Blog/BlogGridHome"
    const result  =  await fetch(`${import.meta.env.PUBLIC_BASE_URL}/api/articles?populate=*&[sort][0]=createdAt%3Adesc&?pagination[start]=0&pagination[limit]=3`).then(res => res.json())
    const posts = result.data;

    if (Astro.request.method === "POST") {
      try{
        const data = await Astro.request.formData();
        const name = data.get("name");
        const email = data.get("email");
        const subject = data.get("subject");
        const message = data.get("message");
        
        await fetch(`${import.meta.env.PUBLIC_BASE_URL}/api/messages`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          data: {
            name: name,
            email: email,
            text: message,
            subject: subject
          }
        })
      })
      } catch (error) {
        console.log(error)
      }
  }

  const pageTitle = "Inicio";
---
  <BaseLayout pageTitle={pageTitle}>
    <!-- Start Hero Seciton -->
    <section
      class="st-hero st-style2 st-bg st-dynamic-bg st-ripple-version"
      data-src="assets/img/hero-bg-1.jpg"
    >
      <div class="container">
        <div class="st-hero-text">
          <div class="st-author">
            <img src="/assets/img/profile-pic.png" alt="Raul foto" />
          </div>
          <h1>Hola, Yo soy <span>Raúl Camacho</span></h1>
          <p>
            Desarrollador web y emprendedor. Con más de 20 años de experiencia,
            fundé Diftinto, donde ofrecemos soluciones digitales personalizadas
            para empresas y startups. Además, como profesor de programación con
            Javascript, ofrezco clases en línea para enseñarte las últimas
            técnicas de desarrollo web y aplicaciones.
          </p>
          <div class="st-hero-social-links">
            <a href="https://www.linkedin.com/in/rauljcamacho/" class="st-social-btn">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://twitter.com/raulcamacho" class="st-social-btn">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://github.com/camarj" class="st-social-btn">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://medium.com/@raulj.camacho" class="st-social-btn">
              <i class="fab fa-medium"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero Seciton -->

    <!-- Start About Seciton -->
    <section id="about" class="st-about-wrap">
      <div class="st-height-b100 st-height-lg-b80"></div>
      <div class="container">
        <div class="st-section-heading st-style1">
          <h4 class="st-section-heading-title">¿Quién Soy?</h4>
          <h2 class="st-section-heading-subtitle">¿Quién Soy?</h2>
        </div>
        <div class="st-height-b25 st-height-lg-b25"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 wow fadeInLeft">
            <div class="st-about-img-wrap">
              <div
                class="st-about-img st-dynamic-bg st-bg"
                data-src="/assets/img/mifoto2.webp"
              >
              </div>
            </div>
            <div class="st-height-b0 st-height-lg-b30"></div>
          </div>
          <div class="col-lg-6">
            <div class="st-vertical-middle">
              <div class="st-vertical-middle-in">
                <div class="st-text-block st-style1">
                  <h2 class="st-text-block-title">¡Hola! Soy Raúl Camacho</h2>
                  <h4 class="st-text-block-subtitle">
                    Desarrollador Web y de Aplicaciones
                  </h4>
                  <div class="st-text-block-text">
                    <p>
                      Como desarrollador web, mi enfoque se centra en la
                      creación de sitios web y aplicaciones que generen un
                      impacto positivo y duradero en tu audiencia. Me
                      especializo en la creación de marcas digitales impactantes
                      que atraen, inspiran y motivan a las personas a responder
                      a los mensajes. Estoy comprometido a trabajar contigo para
                      crear una marca digital coherente y efectiva que destaque
                      en un mercado competitivo y conecte con tus clientes
                      potenciales. Juntos, podemos construir una marca que hable
                      por sí misma y lleve tu negocio al siguiente nivel en el
                      mundo digital.
                    </p>
                  </div>
                  <ul class="st-text-block-details st-mp0">
                    <li>
                      <span>Cumpleaños</span> : <span>22 De Diciembre 1980</span
                      >
                    </li>
                    <li>
                      <span>Teléfono</span> : <span>+593 096-321-6172</span>
                    </li>
                    <!-- <li><span>Email</span> : <span>devis@example.com</span></li> -->
                    <li>
                      <span>De</span> : <span>Nueva Esparta - Venezuela</span>
                    </li>
                    <li>
                      <!-- <span>Language</span> : <span>English, Germanic</span> -->
                    </li>
                    <li><span>Trabajo</span> : <span>Diftinto Corp</span></li>
                  </ul>
                  <div class="st-text-block-btn">
                    <a
                      href="https://www.linkedin.com/in/rauljcamacho"
                      class="st-btn st-style1 st-color1">Linkedin</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Seciton -->

    <!-- Start Service Seciton -->
    <section>
      <div class="st-height-b100 st-height-lg-b80"></div>
      <div class="container">
        <div class="st-section-heading st-style1">
          <h4 class="st-section-heading-title">SERVICIOS</h4>
          <h2 class="st-section-heading-subtitle">SERVICIOS</h2>
        </div>
        <div class="st-height-b25 st-height-lg-b25"></div>
      </div>

      <!-- Iconbox Container -->

      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="st-iconbox st-style1">
              <div class="st-iconbox-icon">
                <svg viewBox="0 0 512 512">
                  <g id="XMLID_1568_">
                    <g id="XMLID_652_">
                      <path
                        id="XMLID_676_"
                        d="m482 278h-37.673v-54c0-14.602-10.489-26.795-24.327-29.455v-104.529c0-19.859-16.157-36.016-36.017-36.016h-128.983c-5.522 0-10 4.477-10 10s4.478 10 10 10h128.983c8.832 0 16.017 7.185 16.017 16.016v103.984h-129.667c-16.542 0-30 13.458-30 30v63.228h-220.333v-197.212c0-8.831 7.185-16.016 16.017-16.016h128.983c5.522 0 10-4.477 10-10s-4.478-10-10-10h-128.983c-19.86 0-36.017 16.157-36.017 36.016v229.268c0 19.859 16.157 36.017 36.017 36.017h123.33v36.063c0 19.688-9.953 37.694-26.624 48.168-3.774 2.371-5.523 6.953-4.29 11.235 1.233 4.283 5.152 7.232 9.609 7.232h343.958c16.542 0 30-13.458 30-30v-119.999c0-16.542-13.458-30-30-30zm-211.667-64h143.994c5.514 0 10 4.486 10 10v54h-14.327c-16.542 0-30 13.458-30 30v120c0 3.506.61 6.87 1.72 10h-111.387c-5.514 0-10-4.486-10-10v-204c0-5.514 4.486-10 10-10zm-250.333 105.284v-12.057h220.333v28.073h-70.986-133.33c-8.832.001-16.017-7.184-16.017-16.016zm159.347 72.08v-36.063h60.986v72.699c0 3.506.61 6.87 1.72 10h-78.402c10.071-13.169 15.696-29.427 15.696-46.636zm312.653 36.636c0 5.514-4.486 10-10 10h-72c-5.514 0-10-4.486-10-10v-120c0-5.514 4.486-10 10-10h72c5.514 0 10 4.486 10 10z"
                      ></path>
                      <path
                        id="XMLID_1626_"
                        d="m58 114.614c-5.522 0-10 4.477-10 10v112c0 5.523 4.478 10 10 10h88c5.522 0 10-4.477 10-10v-112c0-5.523-4.478-10-10-10zm78 112h-68v-92h68z"
                      ></path>
                      <path
                        id="XMLID_1627_"
                        d="m194 134.614h101c5.522 0 10-4.477 10-10s-4.478-10-10-10h-101c-5.522 0-10 4.477-10 10s4.478 10 10 10z"
                      ></path>
                      <path
                        id="XMLID_1628_"
                        d="m194 230.61c2.63 0 5.21-1.06 7.069-2.92 1.86-1.87 2.931-4.44 2.931-7.08 0-2.63-1.07-5.21-2.931-7.07-1.859-1.86-4.439-2.93-7.069-2.93s-5.21 1.07-7.07 2.93-2.93 4.44-2.93 7.07 1.069 5.21 2.93 7.08c1.86 1.86 4.44 2.92 7.07 2.92z"
                      ></path>
                      <path
                        id="XMLID_1639_"
                        d="m194 182.614h37.5c5.522 0 10-4.477 10-10s-4.478-10-10-10h-37.5c-5.522 0-10 4.477-10 10s4.478 10 10 10z"
                      ></path>
                      <path
                        id="XMLID_1674_"
                        d="m446 398c-2.63 0-5.21 1.069-7.07 2.93s-2.93 4.44-2.93 7.07 1.069 5.21 2.93 7.069c1.86 1.86 4.44 2.931 7.07 2.931s5.21-1.07 7.069-2.931c1.861-1.859 2.931-4.439 2.931-7.069s-1.07-5.21-2.931-7.07c-1.859-1.861-4.439-2.93-7.069-2.93z"
                      ></path>
                      <path
                        id="XMLID_1677_"
                        d="m342.33 418c2.63 0 5.21-1.07 7.069-2.931 1.86-1.859 2.931-4.439 2.931-7.069s-1.07-5.21-2.931-7.07c-1.859-1.86-4.439-2.93-7.069-2.93s-5.21 1.069-7.07 2.93-2.93 4.44-2.93 7.07 1.069 5.21 2.93 7.069c1.86 1.861 4.44 2.931 7.07 2.931z"
                      ></path>
                      <path
                        id="XMLID_1681_"
                        d="m210 74c2.63 0 5.21-1.07 7.069-2.93 1.861-1.86 2.931-4.44 2.931-7.07s-1.07-5.21-2.931-7.07c-1.859-1.86-4.439-2.93-7.069-2.93s-5.21 1.07-7.07 2.93-2.93 4.44-2.93 7.07 1.069 5.21 2.93 7.07 4.44 2.93 7.07 2.93z"
                      ></path>
                    </g>
                  </g>
                </svg>
              </div>
              <h2 class="st-iconbox-title">Desarrollo Web</h2>
              <div class="st-iconbox-text">
                En mi servicio de desarrollo web personalizado, me aseguro de
                crear sitios web y aplicaciones que cumplan con tus necesidades
                y destaquen en un mercado competitivo. ¡Trabajemos juntos para
                llevar tu negocio al siguiente nivel en línea! Contáctame para
                conocer más sobre cómo puedo ayudarte.<br />
              </div>
            </div>
            <div class="st-height-b0 st-height-lg-b30"></div>
          </div>
          
          <div class="col-lg-4 col-md-6">
            <div class="st-iconbox st-style1">
              <div class="st-iconbox-icon">
                <svg viewBox="0 0 512 512">
                  <g>
                    <path d="M216,456H160a8,8,0,0,0,0,16h56a8,8,0,0,0,0-16Z"
                    ></path>
                    <path d="M248,456h-8a8,8,0,0,0,0,16h8a8,8,0,0,0,0-16Z"
                    ></path>
                    <path
                      d="M442.68,363.48,392,312.8V165.27l22.4-22.4a7.953,7.953,0,0,0,1.93-3.13L433.3,88.82A8,8,0,0,0,423.18,78.7L392,89.09V40A32.042,32.042,0,0,0,360,8H152a32.042,32.042,0,0,0-32,32V86.53L69.32,137.21a8,8,0,0,0,0,11.31L120,199.2V346.74L80.63,386.11A32.005,32.005,0,0,0,120,436.01V472a32.042,32.042,0,0,0,32,32H360a32.042,32.042,0,0,0,32-32V425.47l50.68-50.68A8,8,0,0,0,442.68,363.48ZM413.06,98.94l-4.99,14.97-9.98-9.98Zm-31.95,10.64,21.31,21.31-.67,2-4.32,4.32-22.64-22.64,4.32-4.32ZM306.92,227.72l-5.66-5.66,67.88-67.88a8,8,0,1,0-11.32-11.32l-67.88,67.88-5.66-5.65,79.2-79.2,22.63,22.64-7.74,7.74-.05.05ZM376,181.27V296.8l-57.76-57.76ZM293.44,24l-4.5,16H222.25l-4-16ZM136,40a16.021,16.021,0,0,1,16-16h49.75l6.49,25.94A8,8,0,0,0,216,56h79a8,8,0,0,0,7.7-5.83L310.06,24H360a16.021,16.021,0,0,1,16,16V94.42l-3.74,1.25a7.953,7.953,0,0,0-3.13,1.93l-96.16,96.17L148.52,69.32a8,8,0,0,0-11.31,0L136,70.53ZM114.59,420.05a16.005,16.005,0,1,1-22.64-22.63l11.31-11.32,22.64,22.64Zm-.01-45.26,5.66-5.65,22.62,22.62-5.65,5.66Zm90.51-90.5,22.63,22.63-73.54,73.54-22.63-22.64ZM136,330.74V215.2l57.77,57.77ZM376,472a16.021,16.021,0,0,1-16,16H152a16.021,16.021,0,0,1-16-16V421.26L239.04,318.24,363.48,442.68a8,8,0,0,0,11.31,0l1.21-1.21Zm-6.86-46.29-22.63-22.63,5.66-5.66a8,8,0,0,0-11.32-11.31l-5.65,5.65-11.32-11.31,16.97-16.97a8,8,0,0,0-11.31-11.31l-16.97,16.97-11.32-11.32,5.66-5.65a8,8,0,0,0-11.31-11.32l-5.66,5.66L278.63,335.2l16.97-16.97a8,8,0,0,0-11.32-11.32l-16.97,16.97L256,312.57l5.66-5.66a8,8,0,1,0-11.32-11.31l-5.65,5.65a.035.035,0,0,1-.02-.01l-11.3-11.3,16.97-16.97a8,8,0,0,0-11.31-11.31l-16.97,16.97-11.29-11.29c-.01-.01-.01-.02-.02-.03l5.65-5.65a8,8,0,1,0-11.31-11.32L199.43,256l-11.31-11.31,16.97-16.97a8,8,0,0,0-11.32-11.32L176.8,233.37l-11.31-11.31,5.66-5.66a8,8,0,0,0-11.32-11.31l-5.65,5.66-11.32-11.32,16.97-16.97a8,8,0,0,0-11.31-11.31l-16.97,16.97L120.24,176.8l5.65-5.65a8,8,0,0,0-11.31-11.32l-5.66,5.66L86.29,142.86l39.6-39.59L408.73,386.11Zm50.91-50.92L137.21,91.95l5.65-5.66L267.29,210.72c.01.01.01.02.02.03s.02.01.03.02l16.93,16.94c.01,0,.01,0,.01.01s.01,0,.01.01l16.95,16.94c.01.01.01.02.02.03s.02.01.03.02l77.02,77.02a.234.234,0,0,0,.07.07l47.33,47.33Z"
                    ></path>
                  </g>
                </svg>
              </div>
              <h2 class="st-iconbox-title">Desarrollo de Apps</h2>
              <div class="st-iconbox-text">
                Me enfoco en crear aplicaciones móviles que mejoren la
                experiencia del usuario y ayuden a que tu negocio destaque en un
                mercado cada vez más digital. Desde el diseño hasta la
                programación y la implementación, te ofrezco un servicio de
                desarrollo de aplicaciones personalizado y de alta calidad.
              </div>
            </div>
            <div class="st-height-b0 st-height-lg-b30"></div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="st-iconbox st-style1">
              <div class="st-iconbox-icon">
                <svg viewBox="0 0 64 64">
                  <path
                    d="m62.618 45-5-10h-1.618v-34h-14v34h-19v-17.217l-4.676-10.286c-.413-.909-1.325-1.497-2.324-1.497s-1.911.588-2.324 1.496l-4.676 10.287v17.217h-2.618l-5 10h5.618v18h50v-18zm-18.618-14h6v-2h-6v-2h4v-2h-4v-2h6v-2h-6v-2h4v-2h-4v-2h6v-2h-6v-2h4v-2h-4v-2h6v-2h-6v-2h10v32h-10zm12.382 6 3 6h-21.764l-3-6zm-39.387-2v-15.132l2.002 1.333 2.003-1.334v15.133zm3.743-17.361-1.741 1.159-3.002-2.001-2.998 2-1.735-1.158 1.654-3.639h6.167zm-5.242-9.316c.18-.393.828-.394 1.008.001l1.67 3.676h-4.349zm-4.496 11.547 1.997 1.333 1.998-1.333v15.13h-3.995zm-3.382 17.13h21.764l-3 6h-21.764zm1.382 8h18.618l3.382-6.764v22.764h-22zm46 16h-22v-22.764l3.382 6.764h18.618z"
                  ></path>
                  <path d="m19 57h2v2h-2z"></path>
                  <path d="m11 57h2v2h-2z"></path>
                  <path d="m15 57h2v2h-2z"></path>
                  <path d="m11 53h10v2h-10z"></path>
                  <path
                    d="m28 9.657c0-1.465 1.192-2.657 2.657-2.657h.686c1.465 0 2.657 1.192 2.657 2.657 0 .709-.276 1.376-.778 1.879l-5.222 5.222v8.242h6v-5.758l3.464-3.464c1.636-1.635 2.536-3.809 2.536-6.121 0-4.773-3.884-8.657-8.657-8.657h-.686c-4.773 0-8.657 3.884-8.657 8.657v2.343h6zm-2 0v.343h-2v-.343c0-3.671 2.986-6.657 6.657-6.657h.686c3.671 0 6.657 2.986 6.657 6.657 0 1.777-.692 3.449-1.95 4.707l-4.05 4.05v4.586h-2v-5.414l4.637-4.636c.879-.881 1.363-2.051 1.363-3.293 0-2.568-2.089-4.657-4.657-4.657h-.686c-2.568 0-4.657 2.089-4.657 4.657z"
                  ></path>
                  <path
                    d="m28 30c0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3-3 1.346-3 3zm4 0c0 .552-.448 1-1 1s-1-.448-1-1 .448-1 1-1 1 .448 1 1z"
                  ></path>
                </svg>
              </div>
              <h2 class="st-iconbox-title">Mentorías personalizadas</h2>
              <div class="st-iconbox-text">
                Si deseas aprender a desarrollar tus propios proyectos
                digitales, te ofrezco mi servicio de mentoría de desarrollo web
                y aplicaciones, donde aprenderás a través de clases
                personalizadas y prácticas. ¡Contáctame para conocer más sobre
                cómo puedo ayudarte a convertir tus ideas en realidad en el
                mundo digital!
              </div>
            </div>
            <div class="st-height-b30 st-height-lg-b30"></div>
          </div>
        </div>
      </div>
      <div class="st-height-b100 st-height-lg-b80"></div>
    </section>
    <!-- End Service Seciton -->

    <!-- Start Skill Seciton -->
    <section class="st-dark-bg">
      <div class="st-height-b100 st-height-lg-b80"></div>
      <div class="container">
        <div class="st-section-heading st-style1">
          <h4 class="st-section-heading-title">MIS HABILIDADES</h4>
          <h2 class="st-section-heading-subtitle">MIS HABILIDADES</h2>
        </div>
        <div class="st-height-b25 st-height-lg-b25"></div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="st-skill-wrap">
              <div class="st-skill-heading">
                <div class="st-skill-subtitle">
                  <p>
                    Mi pasión por enseñar y orientar a otros en el campo es lo que realmente me hace destacar. Me encanta compartir mi conocimiento y experiencia con los demás, y estoy comprometido en ayudar a otros desarrolladores a crecer en su carrera.
                  </p>

                  <p>
                    Durante mi tiempo como desarrollador web, he tenido la oportunidad de trabajar con otros desarrolladores y estudiantes de programación. Me complace ver cómo los demás crecen en su carrera gracias a mis consejos y tutorías. Siempre estoy dispuesto a ayudar a otros y proporcionar orientación y apoyo a quienes lo necesiten.
                  </p>

                  <p>
                    Además, al enseñar he aprendido que no solo ayuda a otros a crecer en su carrera, sino que también mejora mis habilidades y conocimientos. Trabajando con otros desarrolladores y estudiantes, tengo la oportunidad de enfrentar nuevos desafíos y resolver problemas de una manera que no podría hacerlo solo. La enseñanza me ha ayudado a desarrollar habilidades de liderazgo y comunicación, lo que ha sido beneficioso en todos los aspectos de mi carrera.
                  </p>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- End Skill Seciton -->

<!-- Start Resume Seciton -->
<section id="resume" class="st-dark-bg">
  <div class="st-height-b100 st-height-lg-b80"></div>
  <div class="container">
    <div class="st-section-heading st-style1">
      <h4 class="st-section-heading-title">RESUMEN</h4>
      <h2 class="st-section-heading-subtitle">RESUMEN</h2>
    </div>
    <div class="st-height-b25 st-height-lg-b25"></div>
  </div>
  <div class="container">
    <div class="row">
      <!-- Experience -->
      <div class="col-lg-6">
        <div class="st-resume-wrap">
          <div class="st-resume-heading">
            <img src="assets/img/icon/resume-icon1.png" alt="resume-icon" />
            <h2 class="st-resume-heading-title">Experiencia</h2>
          </div>

          <div class="st-height-b50 st-height-lg-b30"></div>

          <div class="st-resume-timeline-wrap">
            <div class="st-resume-timeline">
              <h3 class="st-resume-timeline-title">
                Cofundador y líder del equipo de desarrollo
              </h3>
              <div class="st-resume-timeline-duration">
                Enero 2019 - Presente
              </div>
              <h4 class="st-resume-timeline-subtitle">Diftinto Corp</h4>
              <div class="st-resume-timeline-text">
                <p>
                  Soy el principal responsable en liderar un extraordinario
                  equipo que desarrollan aplicaciones web para una variedad de
                  proyectos y clientes. También trabajo con herramientas No-Code
                  y Low-Code para crear soluciones digitales rápidas y
                  escalables, y soy mentor de otros desarrolladores del equipo y
                  en Diftinto Academy.
                </p>
              </div>
            </div>
            <!-- st-resume-timeline -->
            <div class="st-height-b50 st-height-lg-b30"></div>
            <div class="st-resume-timeline">
              <h3 class="st-resume-timeline-title">
                Líder en el equipo de Frontend
              </h3>
              <div class="st-resume-timeline-duration">
                Julio 2017 - Diciembre 2018
              </div>
              <h4 class="st-resume-timeline-subtitle">Yo Invierto</h4>
              <div class="st-resume-timeline-text">
                <p>
                  Lideré un equipo de desarrolladores frontend en la creación de
                  aplicaciones web personalizadas para clientes de la industria
                  del bienestar personal y espiritual. Fui responsable del
                  diseño y desarrollo de aplicaciones web escalables y de alta
                  calidad, y también fui mentor de otros desarrolladores del
                  equipo.
                </p>
              </div>
            </div>
            <!-- st-resume-timeline -->
            <div class="st-height-b50 st-height-lg-b30"></div>
            <div class="st-resume-timeline">
              <h3 class="st-resume-timeline-title">
                Desarrollador e integrador con Asterisk
              </h3>
              <div class="st-resume-timeline-duration">
                Jan 2017 - December 2022
              </div>
              <h4 class="st-resume-timeline-subtitle">GoSmart Group</h4>
              <div class="st-resume-timeline-text">
                <p>
                  Fui responsable de desarrollar aplicaciones integradas con el
                  sistema de telefonía IP Asterisk, y de integrar sistemas de
                  terceros con Asterisk. También fui mentor de otros
                  desarrolladores del equipo.
                </p>
              </div>
            </div>
            <!-- st-resume-timeline -->
          </div>
        </div>
      </div>

      <!-- Education -->
      <div class="col-lg-6">
        <div class="st-height-b0 st-height-lg-b50"></div>
        <div class="st-resume-wrap">
          <div class="st-height-b50 st-height-lg-b30"></div>

          <div class="st-resume-timeline-wrap">
            <div class="st-resume-timeline">
              <h3 class="st-resume-timeline-title">Fundador y CTO</h3>
              <div class="st-resume-timeline-duration">
                Julio 2016 - Mayo 2019
              </div>
              <h4 class="st-resume-timeline-subtitle">Dysiscom</h4>
              <div class="st-resume-timeline-text">
                <p>
                  Trabajé en proyectos de desarrollo web que abarcaban desde
                  sitios web corporativos hasta aplicaciones de comercio
                  electrónico. Allí, mejoré mis habilidades en el desarrollo de
                  aplicaciones web utilizando tecnologías como Bootstrap y
                  jQuery. También desarrollé habilidades de colaboración y
                  trabajo en equipo, trabajando con diseñadores gráficos,
                  especialistas en marketing y otros desarrolladores..
                </p>
              </div>
            </div>
            <!-- st-resume-timeline -->
            <div class="st-height-b50 st-height-lg-b30"></div>
            <div class="st-resume-timeline">
              <h3 class="st-resume-timeline-title">Administrador de redes</h3>
              <div class="st-resume-timeline-duration">2000 - 2015</div>
              <h4 class="st-resume-timeline-subtitle">NCS Pearson</h4>
              <div class="st-resume-timeline-text">
                <p>
                  Trabajé en el cargo como administrador de redes e
                  infraestructura, pero también desarrollé habilidades en
                  JavaScript, HTML y CSS.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="st-height-b100 st-height-lg-b80"></div>
</section>
<!-- End Resume Seciton -->

<!-- Start Portfolio Seciton -->
<section id="portfolio">
  <div class="st-height-b100 st-height-lg-b80"></div>
  <div class="container">
    <div class="st-section-heading st-style1">
      <h4 class="st-section-heading-title">PORTAFOLIO</h4>
      <h2 class="st-section-heading-subtitle">PORTAFOLIO</h2>
    </div>
    <div class="st-height-b25 st-height-lg-b25"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="st-portfolio-single st-style1 st-lightgallery">
          <div class="st-portfolio-item">
            <a
              href="assets/img/portfolio/Apps-dift-transformed-zoom.png"
              class="st-portfolio st-zoom st-lightbox-item"
            >
              <div class="st-portfolio-img st-zoom-in">
                <img
                  src="assets/img/portfolio/Apps-dift-transformed2.png"
                  alt="portfolio"
                  width="275px"
                />
              </div>
              <div class="st-portfolio-item-hover">
                <i class="fas fa-plus-circle"></i>
                <h5>Desarrollo de Apps</h5>
                <p>Comercio Electrónico</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="st-portfolio-single st-style1 st-lightgallery">
          <div class="st-portfolio-item">
            <a
              href="assets/img/portfolio/diseño-responsive-transformed.png"
              class="st-portfolio st-zoom st-lightbox-item"
            >
              <div class="st-portfolio-img st-zoom-in">
                <img
                  src="assets/img/portfolio/diseño-responsive-transformed.png"
                  alt="portfolio"
                />
              </div>
              <div class="st-portfolio-item-hover">
                <i class="fas fa-plus-circle"></i>
                <h5>Diseño Web</h5>
                <p>Web corporativa</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="st-portfolio-single st-style1 st-lightgallery">
          <div class="st-portfolio-item">
            <a
              href="assets/img/portfolio/Diftinto.png"
              class="st-portfolio st-zoom st-lightbox-item"
            >
              <div class="st-portfolio-img st-zoom-in">
                <img src="assets/img/portfolio/Diftinto.png" alt="portfolio" />
              </div>
              <div class="st-portfolio-item-hover">
                <i class="fas fa-plus-circle"></i>
                <h5>Diseño Web</h5>
                <p>Web corporativa</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="st-portfolio-single st-style1 st-lightgallery">
          <div class="st-portfolio-item">
            <a
              href="assets/img/portfolio/ucimedic.png"
              class="st-portfolio st-zoom st-lightbox-item"
            >
              <div class="st-portfolio-img st-zoom-in">
                <img src="assets/img/portfolio/ucimedic.png" alt="portfolio" />
              </div>
              <div class="st-portfolio-item-hover">
                <i class="fas fa-plus-circle"></i>
                <h5>Diseño Web</h5>
                <p>Web corporativa</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="st-portfolio-single st-style1 st-lightgallery">
          <div class="st-portfolio-item">
            <a
              href="assets/img/portfolio/app-web1.png"
              class="st-portfolio st-zoom st-lightbox-item"
            >
              <div class="st-portfolio-img st-zoom-in">
                <img src="assets/img/portfolio/app-web1.png" alt="portfolio" />
              </div>
              <div class="st-portfolio-item-hover">
                <i class="fas fa-plus-circle"></i>
                <h5>Desarrollo de apps Web</h5>
                <p>CRM y Gestión Interna</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="st-portfolio-single st-style1 st-lightgallery">
          <div class="st-portfolio-item">
            <a
              href="assets/img/portfolio/app2.png"
              class="st-portfolio st-zoom st-lightbox-item"
            >
              <div class="st-portfolio-img st-zoom-in">
                <img
                  src="assets/img/portfolio/app2-transformed1.png"
                  alt="portfolio"
                />
              </div>
              <div class="st-portfolio-item-hover">
                <i class="fas fa-plus-circle"></i>
                <h5>Desarrollo de Apps</h5>
                <p>Gestión Interna</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center">

      </div>
    </div>
  </div>
  <div class="st-height-b100 st-height-lg-b80"></div>
</section>
<!-- End Portfolio Seciton -->

<!-- Start Review Seciton -->
<section class="st-dark-bg">
  <div class="st-height-b100 st-height-lg-b80"></div>
  <div class="container">
    <div class="st-section-heading st-style1">
      <h4 class="st-section-heading-title">REVIEWS</h4>
      <h2 class="st-section-heading-subtitle">REVIEWS</h2>
    </div>
    <div class="st-height-b25 st-height-lg-b25"></div>
  </div>

  <!-- Reviews Container -->

  <div class="container">
    <div class="st-slider st-style1 st-reviews-wrap">
      <div
        class="slick-container"
        data-autoplay="0"
        data-loop="1"
        data-speed="600"
        data-center="0"
        data-slides-per-view="responsive"
        data-xs-slides="1"
        data-sm-slides="2"
        data-md-slides="3"
        data-lg-slides="3"
        data-add-slides="3"
      >
        <div class="slick-wrapper">
          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  “Tuve la gran oportunidad de trabajar en un proyecto con Raúl.
                  Los conocimientos sólidos en el área, la experiencia y el
                  liderazgo lograron que el proyecto se entregara de manera
                  exitosa.”
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/Franco1.jpg" alt="client1" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Franco Massola</h4>
                  <div class="st-testimonial-designation">
                    Ing. Developer Mercado Libre
                  </div>
                </div>
              </div>
            </div>
          </div><!-- .slick-slide-in -->

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  “Decidí estudiar con Raúl porque quería aprender sobre
                  desarrollo web y programación. Los cursos son muy prácticos y
                  están diseñados para enseñarte habilidades que realmente
                  necesitas en el mundo laboral.”
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/Adolfo.jpg" alt="client2" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Adolfo Matheus</h4>
                  <div class="st-testimonial-designation">Ing. en Amazon</div>
                </div>
              </div>
            </div>
          </div><!-- .slick-slide-in -->

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  “Trabajé con Raúl y doy testimonio de sus habilidades como
                  jefe tanto en lo técnico como en lo personal. El enfoque en la
                  mejora continua y el trabajo en equipo fue de gran ayuda.”
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/Elias.jpg" alt="client3" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Elías Muñiz</h4>
                  <div class="st-testimonial-designation">
                    Ing. Developer Freelancer
                  </div>
                </div>
              </div>
            </div>
          </div><!-- .slick-slide-in -->
        </div>
      </div><!-- .slick-container -->
      <div class="pagination st-style1 st-flex st-hidden"></div>
      <!-- If dont need Pagination then add class .st-hidden -->
      <div class="swipe-arrow st-style1 st-hidden">
        <!-- If dont need navigation then add class .st-hidden -->
        <div class="slick-arrow-left">
          <i class="fa fa-chevron-left"></i>
        </div>
        <div class="slick-arrow-right">
          <i class="fa fa-chevron-right"></i>
        </div>
      </div>
    </div><!-- .st-slider -->
  </div>
  <div class="st-height-b100 st-height-lg-b80"></div>
</section>
<!-- End Review Seciton -->

<!-- Start Blog Seciton -->
<!-- <section id="blog">
  <div class="st-height-b100 st-height-lg-b80"></div>
  <div class="container">
    <div class="st-section-heading st-style1">
      <h4 class="st-section-heading-title">Últimos Posts</h4>
      <h2 class="st-section-heading-subtitle">Últimos Posts</h2>
    </div>
    <div class="st-height-b25 st-height-lg-b25"></div>
  </div>
  <BlogGridHome posts={posts}/>
  <div class="st-height-b95 st-height-lg-b75"></div>
</section> -->
<!-- End Blog Seciton -->

<!-- Start Contact Seciton -->
<section id="contact" class="st-dark-bg">
  <div class="st-height-b100 st-height-lg-b80"></div>
  <div class="container">
    <div class="st-section-heading st-style1">
      <h4 class="st-section-heading-title">CONTÁCTAME</h4>
      <h2 class="st-section-heading-subtitle">CONTÁCTAME</h2>
    </div>
    <div class="st-height-b25 st-height-lg-b25"></div>
  </div>

  <!-- Contact Container -->

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="st-contact-title">Hola, ¿Quieres que hablemos?</h3>
        <div id="st-alert"></div>
        <form
          method="POST"
          class="st-contact-form"
          id="contact-form"
        >
          <div class="st-form-field">
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Tu Nombre"
              required
            />
          </div>
          <div class="st-form-field">
            <input
              type="text"
              id="email"
              name="email"
              placeholder="Tu Email"
              required
            />
          </div>
          <div class="st-form-field">
            <input
              type="text"
              id="subject"
              name="subject"
              placeholder="Asunto"
              required
            />
          </div>
          <div class="st-form-field">
            <textarea
              cols="30"
              rows="10"
              id="msg"
              name="message"
              placeholder="Tu Mensaje"
              required></textarea>
          </div>
          <button class="st-btn st-style1 st-color1">Enviar Mensaje</button>
        </form>
      </div>
      <div class="st-height-b0 st-height-lg-b30"></div>

      <div class="col-lg-6">
        <div class="st-height-b0 st-height-lg-b40"></div>
        <h3 class="st-contact-title">¡Encuéntrame!</h3>
        <div class="st-contact-text">
          ¿Tienes alguna pregunta, sugerencia o comentario? No dudes en enviarme un mensaje. Estaré encantado de atenderte. También puedes encontrarme en mis redes sociales y ver lo que hago.
        </div>
        <div class="st-contact-info-wrap">
          <div class="st-social-info">
            <div class="st-social-link">
              <a href="https://linkedin.com/in/raulcamacho" class="st-social-btn active">
                <span class="st-social-icon"
                  ><i class="fab fa-linkedin"></i></span
                >
                <span class="st-icon-name">LinkedIn</span>
              </a>
              <!-- <a href="#" class="st-social-btn">
                <span class="st-social-icon"
                  ><i class="fab fa-facebook"></i></span
                >
                <span class="st-icon-name">Facebook</span>
              </a> -->
              <!-- <a href="#" class="st-social-btn">
                <span class="st-social-icon"
                  ><i class="fab fa-instagram"></i></span
                >
                <span class="st-icon-name">Instagram</span>
              </a> -->
              <a href="https://twitter.com/rauljcamacho" class="st-social-btn">
                <span class="st-social-icon"
                  ><i class="fab fa-twitter"></i></span
                >
                <span class="st-icon-name">Twitter</span>
              </a>
              <a href="https://github.com/camarj" class="st-social-btn">
                <span class="st-social-icon"
                  ><i class="fab fa-github"></i></span
                >
                <span class="st-icon-name">Github</span>
              </a>
              <a href="https://medium.com/@raulj.camacho" class="st-social-btn">
                <span class="st-social-icon"
                  ><i class="fab fa-medium"></i></span
                >
                <span class="st-icon-name">Medium</span>
              </a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="st-height-b100 st-height-lg-b80"></div>
</section>
<!-- End Contact Seciton -->

</BaseLayout>
